In [1]:
# !pip install interpret
# !pip install --user xgboost
# !pip install pytorch-tabnet
# !pip install anchor-exp

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from interpret import preserve, show
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
dataset_folder = 'dataset/HGSORF_CSection/'

In [4]:
df=pd.read_csv(dataset_folder + 'train_COMBO.csv')
df.replace(to_replace=' ',value=np.nan,inplace=True)
#df.drop(columns=['Unnamed: 0'],inplace=True)
df1=pd.read_csv(dataset_folder + 'test_COMBO.csv')
df1.replace(to_replace=' ',value=np.nan,inplace=True)
#df1.drop(columns=['Unnamed: 0'],inplace=True)
x_train=df.drop(columns=['Last_Birth_a_Caesarean_Section'])
y_train=df['Last_Birth_a_Caesarean_Section']
x_test=df1.drop(columns=['Last_Birth_a_Caesarean_Section'])
y_test=df1['Last_Birth_a_Caesarean_Section']

In [5]:
df_main=pd.concat([df,df1],axis=0)
df_main

,Age_of_Mother,Type_of_place_of_residence,Mothers_Education,Number_of_household_members_,Total_children_ever_born,Births_in_last_five_years,Number_of_living_children,Ever_had_a_terminated_pregnancy,Sources_of_Drinking_Water,Household_Toilet_Facility,...,Smoker,Husbands_Education,Husbands_Occupations,Mothers_Occupation,Decision_Making_Power_on_Delivery_Palce,Suffered_by_Domestic_Violence,Number_of_ANC_Visits,Had_Previous_C-section,Size_of_child_at_birth,Last_Birth_a_Caesarean_Section
0,27,1,1,10,2,2,2,1,0,0,...,0,2,4,0,2,1,2,0,3,0
1,32,2,0,8,6,2,4,0,1,0,...,0,1,4,0,1,1,1,1,4,1
2,37,1,2,7,5,1,5,0,1,1,...,0,2,3,0,1,0,8,1,3,1
3,29,2,1,14,6,2,3,0,1,1,...,0,0,4,0,1,0,2,0,3,0
4,31,2,0,5,3,3,3,0,0,0,...,0,2,4,0,1,0,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7881,27,2,0,24,6,2,5,0,0,1,...,0,2,3,0,3,0,3,0,3,0
7882,21,1,2,4,1,1,1,0,1,1,...,0,2,4,0,1,0,8,1,3,1
7883,35,2,0,8,7,1,6,0,1,0,...,0,2,1,0,1,0,0,0,3,0
7884,24,1,1,17,1,1,1,0,1,1,...,0,2,3,0,1,0,4,1,3,1
7885,27,1,1,12,8,2,8,1,1,1,...,0,2,1,0,1,0,1,0,3,0

In [6]:
x=df_main.drop(columns=['Last_Birth_a_Caesarean_Section'])
y=df_main['Last_Birth_a_Caesarean_Section']

In [7]:
df

,Age_of_Mother,Type_of_place_of_residence,Mothers_Education,Number_of_household_members_,Total_children_ever_born,Births_in_last_five_years,Number_of_living_children,Ever_had_a_terminated_pregnancy,Sources_of_Drinking_Water,Household_Toilet_Facility,...,Smoker,Husbands_Education,Husbands_Occupations,Mothers_Occupation,Decision_Making_Power_on_Delivery_Palce,Suffered_by_Domestic_Violence,Number_of_ANC_Visits,Had_Previous_C-section,Size_of_child_at_birth,Last_Birth_a_Caesarean_Section
0,27,1,1,10,2,2,2,1,0,0,...,0,2,4,0,2,1,2,0,3,0
1,32,2,0,8,6,2,4,0,1,0,...,0,1,4,0,1,1,1,1,4,1
2,37,1,2,7,5,1,5,0,1,1,...,0,2,3,0,1,0,8,1,3,1
3,29,2,1,14,6,2,3,0,1,1,...,0,0,4,0,1,0,2,0,3,0
4,31,2,0,5,3,3,3,0,0,0,...,0,2,4,0,1,0,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18393,30,1,3,5,4,2,4,1,1,1,...,0,3,3,1,0,0,9,0,3,0
18394,30,2,0,8,4,2,4,0,1,1,...,0,0,4,0,2,1,3,0,3,0
18395,24,1,2,11,2,2,2,0,1,1,...,0,3,2,0,2,1,6,1,3,1
18396,23,2,0,13,4,3,3,0,1,0,...,0,0,4,1,2,1,0,0,4,0
18397,28,2,0,8,4,1,4,1,1,1,...,0,1,4,0,1,1,4,0,4,0

In [8]:
df1

,Age_of_Mother,Type_of_place_of_residence,Mothers_Education,Number_of_household_members_,Total_children_ever_born,Births_in_last_five_years,Number_of_living_children,Ever_had_a_terminated_pregnancy,Sources_of_Drinking_Water,Household_Toilet_Facility,...,Smoker,Husbands_Education,Husbands_Occupations,Mothers_Occupation,Decision_Making_Power_on_Delivery_Palce,Suffered_by_Domestic_Violence,Number_of_ANC_Visits,Had_Previous_C-section,Size_of_child_at_birth,Last_Birth_a_Caesarean_Section
0,32,1,2,14,3,2,3,0,0,0,...,0,2,4,0,1,0,6,1,3,1
1,28,1,0,18,6,2,6,0,1,1,...,0,1,4,0,2,0,1,0,3,0
2,24,2,0,4,3,2,2,0,1,1,...,0,2,4,0,1,1,0,0,3,0
3,33,1,0,24,5,1,5,0,1,1,...,0,2,2,0,2,1,2,0,3,0
4,24,2,1,10,2,1,2,0,1,1,...,0,0,4,0,3,1,4,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7881,27,2,0,24,6,2,5,0,0,1,...,0,2,3,0,3,0,3,0,3,0
7882,21,1,2,4,1,1,1,0,1,1,...,0,2,4,0,1,0,8,1,3,1
7883,35,2,0,8,7,1,6,0,1,0,...,0,2,1,0,1,0,0,0,3,0
7884,24,1,1,17,1,1,1,0,1,1,...,0,2,3,0,1,0,4,1,3,1
7885,27,1,1,12,8,2,8,1,1,1,...,0,2,1,0,1,0,1,0,3,0

In [9]:
x_test.shape

(7886, 24)

In [10]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18398 entries, 0 to 18397
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Age_of_Mother                            18398 non-null  int64
 1   Type_of_place_of_residence               18398 non-null  int64
 2   Mothers_Education                        18398 non-null  int64
 3   Number_of_household_members_             18398 non-null  int64
 4   Total_children_ever_born                 18398 non-null  int64
 5   Births_in_last_five_years                18398 non-null  int64
 6   Number_of_living_children                18398 non-null  int64
 7   Ever_had_a_terminated_pregnancy          18398 non-null  int64
 8   Sources_of_Drinking_Water                18398 non-null  int64
 9   Household_Toilet_Facility                18398 non-null  int64
 10  Reading_Newspaper_or_Magazine            18398 non-null  int64
 11  Listening_to_Radio                       18398 non-null  int64
 12  Watching-TV                              18398 non-null  int64
 13  Household_Wealth_Quantile                18398 non-null  int64
 14  Mothers_BMI                              18398 non-null  float64
 15  Smoker                                   18398 non-null  int64
 16  Husbands_Education                       18398 non-null  int64
 17  Husbands_Occupations                     18398 non-null  int64
 18  Mothers_Occupation                       18398 non-null  int64
 19  Decision_Making_Power_on_Delivery_Palce  18398 non-null  int64
 20  Suffered_by_Domestic_Violence            18398 non-null  int64
 21  Number_of_ANC_Visits                     18398 non-null  int64
 22  Had_Previous_C-section                   18398 non-null  int64
 23  Size_of_child_at_birth                   18398 non-null  int64
dtypes: float64(1), int64(23)
memory usage: 3.4 MB

# ML Model

In [11]:
import sklearn.metrics
import pandas as pd
import time
import numpy as np

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
random_state=42

In [14]:
x_train

,Age_of_Mother,Type_of_place_of_residence,Mothers_Education,Number_of_household_members_,Total_children_ever_born,Births_in_last_five_years,Number_of_living_children,Ever_had_a_terminated_pregnancy,Sources_of_Drinking_Water,Household_Toilet_Facility,...,Mothers_BMI,Smoker,Husbands_Education,Husbands_Occupations,Mothers_Occupation,Decision_Making_Power_on_Delivery_Palce,Suffered_by_Domestic_Violence,Number_of_ANC_Visits,Had_Previous_C-section,Size_of_child_at_birth
0,27,1,1,10,2,2,2,1,0,0,...,27.650000,0,2,4,0,2,1,2,0,3
1,32,2,0,8,6,2,4,0,1,0,...,25.450000,0,1,4,0,1,1,1,1,4
2,37,1,2,7,5,1,5,0,1,1,...,31.023793,0,2,3,0,1,0,8,1,3
3,29,2,1,14,6,2,3,0,1,1,...,20.548000,0,0,4,0,1,0,2,0,3
4,31,2,0,5,3,3,3,0,0,0,...,23.000000,0,2,4,0,1,0,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18393,30,1,3,5,4,2,4,1,1,1,...,29.116000,0,3,3,1,0,0,9,0,3
18394,30,2,0,8,4,2,4,0,1,1,...,22.678000,0,0,4,0,2,1,3,0,3
18395,24,1,2,11,2,2,2,0,1,1,...,23.626742,0,3,2,0,2,1,6,1,3
18396,23,2,0,13,4,3,3,0,1,0,...,22.150000,0,0,4,1,2,1,0,0,4
18397,28,2,0,8,4,1,4,1,1,1,...,23.520000,0,1,4,0,1,1,4,0,4

In [15]:
def classify_report(clfs, dataset):
    x_train, y_train, x_test, y_test = dataset
    data = []
    for clf, name, no_df in clfs:
        if no_df:
            x_tr, x_te = x_train, x_test
        else:
            x_tr, x_te = x_train.values,  x_test.values
        clf.fit(x_tr, y_train)
        pred = clf.predict(x_te)
        f1, acc = sklearn.metrics.f1_score(y_test, pred, average='binary'), sklearn.metrics.accuracy_score(y_test, pred)
        data.append([name, f1, acc])
    df = pd.DataFrame(data, columns = ['Name', 'F1', 'Acc.'])
    df = df.sort_values(by=['F1'])
    return df

In [16]:
rf = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=random_state)

# clfs = [(rf, 'rf', True), (gbc, 'gbc', True), (_xgb, 'xgb', True), (ebm, 'ebm', True), (tbn, 'tbn', False)]
# clfs = [(rf, 'rf', True), (ebm, 'ebm', True), (tbn, 'tbn', False)]
clfs = [(rf, 'rf', True)]
dataset = x_train, y_train, x_test, y_test
classify_report(clfs, dataset)

  Name        F1     Acc.
0   rf  0.984698  0.98491

# XAI

In [17]:
class_names = ['NO','YES']
feature_names = x_train.columns.to_list()
# local = lime, shap, anchor, tabnet, ebm
# global = pfi, tabnet, ebm, shap
# methods = pfi, tabnet, ebm, shap, lime, anchor
# remaining = pdp, eli5, ice, adawhip, break down

### Anchors (Rules)

In [18]:
from anchor import utils
from anchor import anchor_tabular
import re

In [19]:
exp_anchor = anchor_tabular.AnchorTabularExplainer(
    class_names,
    feature_names,
    x_train.values[:,:],
    {})

In [20]:
len(x_test), (len(x_test) * 3/3)/(60*60)

(7886, 2.1905555555555556)

In [21]:
import time, datetime
from joblib import Parallel, delayed
import itertools

n_jobs = 14 # 8 or 4 depending on how you want and RAM constraint (if it take too much RAM)

def anchor_explain_instance_step(i, lim, threshold):
    warnings.filterwarnings("ignore")
    out = []
    for k in range(i, lim):
        e = exp_anchor.explain_instance(x_test.iloc[k, :].values, rf.predict, threshold=threshold)
        out.append(e)
    return out

def prepare_anchor_explanations():
    anchor_explanations_index = {'threshold': {}}
    total = len(x_test)
    # total = 100
    for threshold in [0.9, 0.95, 0.99]:
        now = datetime.datetime.now()
        print('threshold', threshold, 'at', now)
        start = time.time()
        # anchor_explanations_index['threshold'][threshold] = [exp_anchor.explain_instance(x_test.iloc[i, :].values, rf.predict, threshold=threshold) for i in range(total)]
        # out = Parallel(n_jobs=n_jobs)(delayed(anchor_explain_instance_step)(i, (i) + n_jobs, threshold) for i in range(0, total, n_jobs))
        out = Parallel(n_jobs=n_jobs)(delayed(anchor_explain_instance_step)(i, min(total, i+int(total/n_jobs)), threshold) for i in range(0, total, int(total/n_jobs)))
        anchor_explanations_index['threshold'][threshold] = list(itertools.chain(*out))
        del out
        taken = time.time() - start
        print(f'> done; taken {taken:.2f} at throughput {taken/total:.2f}')
    anchor_explanations_index['pred'] = [exp_anchor.class_names[rf.predict([x_test.iloc[i, :].values])[0]] for i in range(total)] # it is basically original model's prediction
    anchor_explanations_index['total'] = total
    return anchor_explanations_index

try: del anchor_explanations_index; 
except: pass
anchor_explanations_index = prepare_anchor_explanations()

threshold 0.9 at 2024-06-15 00:26:38.618915
> done; taken 2029.68 at throughput 0.26
threshold 0.95 at 2024-06-15 01:00:28.300133
> done; taken 2219.40 at throughput 0.28
threshold 0.99 at 2024-06-15 01:37:27.701765
> done; taken 2359.93 at throughput 0.30

In [22]:
def get_anchor_metrics(threshold=1.0):
    out = []
    for i in range(anchor_explanations_index['total']):
        exp = anchor_explanations_index['threshold'][threshold][i]
        out.append([exp.precision(), exp.coverage(), len(exp.features())])
    precison, coverage, simplicity = np.array(out).mean(axis=0)
    print('Anchors at', threshold)
    print(f' Precison: {precison:.2f}')
    print(f' Coverage: {coverage:.2f}')
    print(f' Simplicity: {simplicity:.2f}')

for thres in anchor_explanations_index['threshold']:
    get_anchor_metrics(threshold=thres)

Anchors at 0.9
 Precison: 0.96
 Coverage: 0.29
 Simplicity: 2.32
Anchors at 0.95
 Precison: 0.97
 Coverage: 0.24
 Simplicity: 2.79
Anchors at 0.99
 Precison: 0.99
 Coverage: 0.19
 Simplicity: 3.64

In [23]:
rf_predict_array = rf.predict(x_test)

In [24]:
rf_predict_array[1]

0

In [25]:
from sklearn.metrics import accuracy_score

achor_predict_array = np.array([{'YES': 1, 'NO': 0}[anchor_explanations_index['pred'][i]] for i in range(len(x_test))])  # this is orignal prediction of the model

print(f'Anchors Fidelity (Predict): {accuracy_score(rf_predict_array, achor_predict_array):.4f}')
print('Not Applicable')

Anchors Fidelity (Predict): 1.0000
Not Applicable

In [26]:
def add_noise(data, noise_level=0.01):
    noise = np.random.normal(0, noise_level, data.shape)
    return data + noise

x_test_noisy = add_noise(x_test)
display(x_test_noisy)

,Age_of_Mother,Type_of_place_of_residence,Mothers_Education,Number_of_household_members_,Total_children_ever_born,Births_in_last_five_years,Number_of_living_children,Ever_had_a_terminated_pregnancy,Sources_of_Drinking_Water,Household_Toilet_Facility,...,Mothers_BMI,Smoker,Husbands_Education,Husbands_Occupations,Mothers_Occupation,Decision_Making_Power_on_Delivery_Palce,Suffered_by_Domestic_Violence,Number_of_ANC_Visits,Had_Previous_C-section,Size_of_child_at_birth
0,31.996375,1.000316,1.994151,13.989469,2.992879,2.006919,3.013387,0.011536,0.015633,0.002563,...,28.140396,-0.010300,1.993146,3.999238,-0.006012,1.020102,-0.014312,5.992897,1.009447,3.009349
1,28.010301,0.985400,-0.006978,17.994528,6.007808,2.015580,5.988123,0.000354,1.011329,0.984021,...,31.599748,0.013228,1.000643,4.003908,-0.012367,2.020754,0.008696,1.014798,0.002550,2.987225
2,24.006052,1.980277,0.003205,3.979274,3.012643,2.001495,2.003388,0.014290,1.009135,1.003155,...,22.106657,-0.004834,2.005625,4.003722,-0.004670,0.999671,1.001131,-0.002332,-0.014145,2.976617
3,32.987154,1.007115,-0.000901,23.993705,4.996262,0.998565,4.973776,0.003182,1.001522,0.997354,...,20.429041,-0.021309,2.016501,1.996049,-0.002310,2.003253,1.017215,1.990852,0.009048,2.992294
4,24.002651,2.017042,0.999262,10.004228,1.993010,0.999160,2.005203,-0.020441,1.014998,0.997847,...,27.673215,-0.009827,0.014366,3.994814,0.017497,2.994971,0.996202,4.003817,0.007842,3.007227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7881,26.997061,2.004102,-0.008171,24.004768,5.997307,1.996670,5.005242,-0.011780,0.022673,0.992735,...,32.291699,-0.008693,1.982952,3.004371,-0.002298,2.994877,0.012663,3.008636,0.001099,2.994689
7882,20.993204,1.013663,1.989137,3.998796,1.008199,0.998529,1.019083,0.007170,0.994543,0.985082,...,26.105043,0.001559,1.983702,3.997854,-0.010791,1.006370,-0.020283,7.998103,1.001444,3.020222
7883,34.989901,1.995014,-0.003676,7.986214,7.009063,1.004749,6.006470,-0.010347,1.007578,0.014783,...,23.020802,0.001089,2.005760,1.005158,0.009074,0.986205,-0.000888,0.006567,0.022998,2.988480
7884,23.997648,1.009408,0.998428,16.996447,1.001459,0.994362,1.019791,0.002192,1.009006,1.002990,...,26.360669,0.009501,1.997924,2.981374,-0.014009,0.993205,-0.031149,3.988373,1.000001,2.991037
7885,26.998518,0.983069,0.994234,12.005989,7.979084,2.000406,8.008838,1.004827,0.998906,1.006352,...,24.163358,0.008777,1.988461,1.011239,0.011567,1.002428,-0.005283,1.010992,0.002134,3.009318

In [27]:
import time, datetime
from joblib import Parallel, delayed
import itertools

def anchor_explain_instance_step_noisy(i, lim, threshold):
    warnings.filterwarnings("ignore")
    out = []
    for k in range(i, lim):
        e = exp_anchor.explain_instance(x_test_noisy.iloc[k, :].values, rf.predict, threshold=threshold)
        out.append(e)
    return out

def prepare_anchor_explanations_noisy():
    anchor_explanations_index = {'threshold': {}}
    total = len(x_test_noisy)
    # total = 100
    for threshold in [0.9, 0.95, 0.99]:
        now = datetime.datetime.now()
        print('threshold', threshold, 'at', now)
        start = time.time()
        out = Parallel(n_jobs=n_jobs)(delayed(anchor_explain_instance_step_noisy)(i, min(total, i+int(total/n_jobs)), threshold) for i in range(0, total, int(total/n_jobs)))
        anchor_explanations_index['threshold'][threshold] = list(itertools.chain(*out))
        del out
        taken = time.time() - start
        print(f'> done; taken {taken:.2f} at throughput {taken/total:.2f}')
    anchor_explanations_index['total'] = total
    return anchor_explanations_index

try: del anchor_explanations_index_noisy; 
except: pass
anchor_explanations_index_noisy = prepare_anchor_explanations_noisy()

threshold 0.9 at 2024-06-15 02:19:10.263229
> done; taken 4441.98 at throughput 0.56
threshold 0.95 at 2024-06-15 03:33:12.240007
> done; taken 4956.17 at throughput 0.63
threshold 0.99 at 2024-06-15 04:55:48.414293
> done; taken 5707.46 at throughput 0.72

In [28]:
def get_features_in_rules(exp_anchors):
    features = []
    for anchor_name in exp_anchors:
        idx = re.search('<|>|=', anchor_name).start()
        features.append(anchor_name[:idx-1])
    return features

def change_in_features(f1, f2):
    s1 = set(f1)
    s2 = set(f2)
    return 1- (len(s1.intersection(s2))/len(s1.union(s2)))


def calculate_robustness(explainer, total):
    for threshold in anchor_explanations_index['threshold']:
        robustness_list = []
        for i in range(total):
            exp = anchor_explanations_index['threshold'][threshold][i]
            noisy_exp = anchor_explanations_index_noisy['threshold'][threshold][i]
            delta = change_in_features(get_features_in_rules(exp.names()), get_features_in_rules(noisy_exp.names()))
            # print(delta)
            # print(get_features_in_rules(exp.names()), get_features_in_rules(noisy_exp.names()))
            robustness_list.append(delta)
        print('Threshold at', threshold, np.mean(robustness_list) if robustness_list else 0)
    return 

calculate_robustness(exp_anchor, len(x_test[:]))

Threshold at 0.9 0.3848993929164133
Threshold at 0.95 0.40376307537369777
Threshold at 0.99 0.4687012951871898

## Rule based explanations, alternate binary cases

In [29]:
ids_to_explain_list = [554, 556]

for _id in ids_to_explain_list:
    print('ID', _id,  'Prediction: ', exp_anchor.class_names[rf.predict([x_test.iloc[_id, :].values])[0]])
    np.random.seed(random_state)

    # Original explanation cases
    # Noisy explanation to compare how the rule (features in the rule) changes due to insertion of Nois
    for _indexes in [('Original', x_test), ('Noisy', x_test_noisy)]:
        msg, dataset = _indexes
        print('>', msg)
        exp = exp_anchor.explain_instance(dataset.iloc[_id, :].values, rf.predict, threshold=0.99)
        print('  >> Anchor: %s' % (' AND '.join(exp.names())))
        print('  >> Precision: %.2f' % exp.precision())
        print('  >> Coverage: %.2f' % exp.coverage())

ID 554 Prediction:  YES
> Original
  >> Anchor: Had_Previous_C-section > 0.00
  >> Precision: 1.00
  >> Coverage: 0.41
> Noisy
  >> Anchor: Had_Previous_C-section > 0.00
  >> Precision: 1.00
  >> Coverage: 0.41
ID 556 Prediction:  NO
> Original
  >> Anchor: Had_Previous_C-section <= 0.00 AND Size_of_child_at_birth > 3.00 AND Mothers_Education <= 0.00
  >> Precision: 0.99
  >> Coverage: 0.06
> Noisy
  >> Anchor: Suffered_by_Domestic_Violence > 0.00 AND Number_of_living_children > 4.00 AND Births_in_last_five_years > 2.00 AND Decision_Making_Power_on_Delivery_Palce > 1.00 AND Number_of_household_members_ <= 11.00 AND Type_of_place_of_residence > 1.00
  >> Precision: 1.00
  >> Coverage: 0.01